# Cüzdan ayarları
PRIVATE_KEY=your_private_key_here

# AppLayer Testnet ayarları
RPC_URL=https://testnet-api.applayer.com/
CHAIN_ID=75338
CONTRACT_MANAGER=0x0001cb47ea6d8b55fe44fdd6b1bdb579efb43e61

# Bot ayarları
TASK_INTERVAL=24  # saat cinsinden